<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sse.homeworkSubmit.mapper.StudentMapper">

    <insert id="insert">
        insert into student (SId, SName, Password, Grade, Gender)
            values (#{id}, #{name}, #{password}, #{grade}, #{gender})
    </insert>

    <insert id="insertInBatch"></insert>

    <update id="update"></update>


    <sql id="commonSelect">
        select SId id, SName name, Grade, Gender from student
    </sql>

    <sql id="commonWhere">
        <where>
            <if test="student.id != null">and SId = #{student.id}</if>
            <if test="student.name != null &amp;&amp; student.name.length() != 0"> and SName like CONCAT('%', #{student.name}, '%') </if>
            <if test="student.gender != null">and gender = #{student.gender}</if>
            <if test="student.grade != null">and grade = #{student.grade}</if>
        </where>
    </sql>

    <select id="list" resultType="com.sse.homeworkSubmit.pojo.Student">
        <include refid="commonSelect"></include>
    </select>

    <select id="query" resultType="com.sse.homeworkSubmit.pojo.Student">
        <include refid="commonSelect"></include>
        <include refid="commonWhere"></include>
        limit #{pageNum}, #{pageSize}
    </select>

    <select id="count" resultType="Integer">
        select COUNT(*) from student
        <include refid="commonWhere"></include>
    </select>

    <select id="getById" resultType="com.sse.homeworkSubmit.pojo.Student">
        <include refid="commonSelect"></include> where SId = #{id}
    </select>
</mapper>